.Item {
    display: inline-block;
    width: 320px;
    height: 200px;
    text-align: center;
    padding:8px;
    font-weight: bold;
    margin:20px;
    cursor: pointer;
    overflow: scroll;
    border-radius:30px;
}

.Item:hover {
    background-color: rgba(173,216,230,0.5);
}

.Item p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color:#438bdd;
    width: 70%;
    margin:auto;
}

.Item img {
    border-radius:50%;
    height: 100px;
    width: 100px;
}

.Item hr {
    border-top:1px solid;
    border-color:#422910;
    width: 50%;
}

